<div class="flex flex-column h-screen">
  <!-- Toolbar -->
  <div class="w-full">
    <app-toolbar></app-toolbar>
  </div>

  <div class="flex flex-column mt-5 mb-3 align-items-start">
    <app-add-offender (offenderAdded)="onOffenderAdded($event)"></app-add-offender>
  </div>

  <!-- Container for the map and offender list -->
  <div class="map-offender-container flex-grow-1">
    <div class="map-container w-full h-full">
      <app-map [visibleOffenders]="offenders"></app-map>
    </div>

    <div class="offender-list-container w-full h-full mt-3">
      <app-offender-list [offenders]="offenders"></app-offender-list>
    </div>
  </div>
</div>
